# =========================
# Go
# =========================
# Binários
*.exe
*.exe~
*.dll
*.so
*.dylib

# Arquivos de build
/bin/
/dist/
/build/

# Cache e testes
*.test
*.out

# =========================
# Go workspace
# =========================
go.work
go.work.sum

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
docker-data/
postgres_data/
*.pid

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo
*.tmp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db