version: "3.9"

services:
  db:
    image: postgres:15
    container_name: agendamento_db
    restart: always
    environment:
      POSTGRES_DB: agendamento
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123455
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: